<div class="container">
  <h2>Listado de Países</h2>

  <!-- <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
  </div> -->

 <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Filtrar por país" aria-label="Filtrar por país" [formControl]="filterControl" />

    <select class="form-select" [formControl]="continentControl">
      <option value="">Todos los continentes</option>
      <option *ngFor="let cont of continentes" [value]="cont">{{ cont }}</option>
    </select>
  </div>

  <table class="table "border="1" cellpadding="8" cellspacing="0">
    <thead>
      <tr>
        <th scope="col">País</th>
        <th scope="col">Continente</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of displayedCountries">
        <td>{{ c.pais }}</td>
        <td>{{ c.continente }}</td>
      </tr>
      <tr *ngIf="displayedCountries.length === 0">
        <td colspan="2">No hay resultados</td>
      </tr>
    </tbody>
  </table>

  <div style="margin-top: 10px;">
    <button type="button" class="btn btn-primary" (click)="changePage(-1)" [disabled]="currentPage === 1">Anterior</button>
    Página {{ currentPage }} de {{ totalPages }}
    <button type="button" class="btn btn-primary" (click)="changePage(1)" [disabled]="currentPage === totalPages">Siguiente</button>
  </div>
</div>
